.bg-lime
{
    background-color: #28ec28;
}

.bg-lightblue
{
    background-color: #ecf7f9;
}

.bg-blue
{
    background-color: #4d4dff;
}

.red
{
    color: red;
}

.green
{
    color: rgb(5, 177, 5);
}

.blue
{
    color: #0352b9;
}

.yellow
{
    color: yellow;
}

.drkblue
{
    color: rgb(37, 1, 122);
}

.card-avatar
{
    width: 75px;
    height: 75px;

}

.avatar
{
    width: 75px;
}

.card-res
{
    width: 48px;
    height: 48px;

}

.res
{
    width: 48px;
}

.card-util
{
    width: 64px;
    height: 64px;

}

.util
{
    width: 64px;
}

input:invalid {
  border: 1px red;
}

input:valid {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.flex-item {
  background: lightgrey;
  padding: 5px;
  
  margin: 2px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

.head {
    width: 50px;
    height: 50px;
}

.body {
    width: 80px;
    height: 100px;
}

.leg {
    width: 25px;
    height: 100px;
    margin: 4px;
}

.arm {
    width: 20px;
    height: 85px
}
