.bg-lime
{
    background-color: #28ec28;
}

.bg-lightblue
{
    background-color: #ecf7f9;
}

.bg-blue
{
    background-color: #4d4dff;
}

.red
{
    color: red;
}

.green
{
    color: rgb(5, 177, 5);
}

.blue
{
    color: #0352b9;
}

.yellow
{
    color: yellow;
}

.card-avatar
{
    width: 75px;
    height: 75px;

}

.avatar
{
    width: 75px;
}

.card-res
{
    width: 48px;
    height: 48px;

}

.res
{
    width: 48px;
}

input:invalid {
  border: 1px red;
}

input:valid {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}
