.bg-lime
{
    background-color: #28ec28;
}

.bg-lightblue
{
    background-color: #ecf7f9;
}

.bg-blue
{
    background-color: #4d4dff;
}

.red
{
    color: red;
}

.green
{
    color: rgb(5, 177, 5);
}

.blue
{
    color: #0352b9;
}

.yellow
{
    color: yellow;
}

.drkblue
{
    color: rgb(37, 1, 122);
}

.card-avatar
{
    width: 75px;
    height: 75px;

}

.avatar
{
    width: 75px;
}

.card-res
{
    width: 48px;
    height: 48px;

}

.res
{
    width: 48px;
}

.card-util
{
    width: 64px;
    height: 64px;

}

.util
{
    width: 64px;
}

input:invalid {
  border: 1px red;
}

input:valid {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

.flex-container {
    padding: 0;
    margin: auto;
    list-style: none;
    background-image: url('../png/human.png');
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    -webkit-flex-flow: row wrap;
    justify-content: center;
}

.flex-item {
  background: lightgrey;
  padding: 5px;
  
  margin: 2px;
  
  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

.flex-item img {
    display: block;
    margin: auto;
}

.head {
    width: 50px;
    height: 50px;
}

.body {
    width: 80px;
    height: 60px;
}

.legs {
    width: 80px;
    height: 70px;
    margin: 4px;
}

.arms {
    width: 20px;
    height: 80px
}

.foots {
    width: 80px;
    height: 40px
}

.part {
    width: 80px;
    height: 80px
}
